<div class="logo">
  <%= image_tag("MondoTODO.png", :alt => "kewl logo", class: "img-responsive center-block") %>
</div>
<div class="list animated tada">
    <h1>
        To-DO list<a class="add" href="#" data-toggle="modal" data-target="#task-add">
            <div class="fa fa-plus"></div>
        </a>
    </h1>
    <%= render "todos/todos_tasks" %>
</div>

<div class="modal modal-message modal-success fade" tabindex="-1" role="dialog" id="task-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
                <%= simple_form_for @todo, remote: true do |f| %>
                <%= f.input :description, placeholder: "'Get Milk'"%>
                <%= f.input :priority, :label => "Priority", :collection => priorities, :selected => "High"%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.button :submit, "Add Task" , class: "btn btn-primary"%>
            </div>
            <%end%>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
