
<div class="list animated tada">
    <h1>
        To-DO list<a class="add" href="#" data-toggle="modal" data-target="#task-add">
            <div class="fa fa-plus"></div>
        </a>
    </h1>
    <%= render "todos_tasks" %>
    <button class="btn btn-primary center-block qr" data-toggle="modal" data-target="#QR"> Click here to sync Tasks with multiple devices</button>

</div>

<div class="modal modal-message modal-success fade" tabindex="-1" role="dialog" id="task-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Task</h4>
            </div>
            <div class="modal-body">
                <%= simple_form_for @todo, remote: true do |f| %>
                <%= f.input :description, placeholder: "'Get Milk'"%>
                <%= f.input :priority, :label => "Priority", :collection => priorities, :selected => "High"%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.button :submit, "Add Task" , class: "btn btn-primary"%>
            </div>
            <%end%>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal modal-message modal-success fade" tabindex="-1" role="dialog" id="QR">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Scan this Qr to Sync your tasks with multiple devices</h4>
            </div>
            <div class="modal-body">
              <%= image_tag @qr %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
