<!DOCTYPE html>
<html>
    <head>
        <title>Montodo</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container-fluid">
          <div class="logo">
              <%= image_tag("https://s3.amazonaws.com/cdn.shared/todo/ModoTODO.png", :alt => "kewl logo", class: "img-responsive center-block") %>
            </div>
            <%= yield %>
        </div>

    </body>
</html>
